.h-py3 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.h-p4 {
  padding: 32px !important;
}
.h-pt4 {
  padding-top: 32px !important;
}
.h-pr4 {
  padding-right: 32px !important;
}
.h-pb4 {
  padding-bottom: 32px !important;
}
.h-pl4 {
  padding-left: 32px !important;
}
.h-px4 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.h-py4 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
@media (max-width: 1024px) {
  .is-hidden-tablet-and-below {
    display: none !important;
  }
}
@media (max-width: 568px) {
  .is-hidden-phone {
    display: none !important;
  }
}
@media (min-width: 569px) {
  .is-hidden-tablet-and-above {
    display: none !important;
  }
}
@media (min-width: 1025px) {
  .is-hidden-desktop {
    display: none !important;
  }
}
.is-visually-hidden,
.js .is-visually-hidden--js {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.hidden,
.is-hidden {
  display: none !important;
}
.no-js .is-hidden--no-js {
  display: none !important;
}
.js .is-hidden--js {
  display: none !important;
}
.is-loading {
  background-image: url(https://public-assets.envato-static.com/assets/common/pagination_loader-8c6a70768e3d8135995dbd27307cb84e746eaa49ac295ffff4a86c3dec16a4e5.gif);
  background-position: center center;
  background-repeat: no-repeat;
  height: 30px;
}
.is-pjax-loading {
  opacity: 0.4;
}
.is-disabled-interaction,
.is-disabled-loading {
  position: relative;
}
.is-disabled-interaction:before,
.is-disabled-loading:before {
  content: '';
  background-color: white;
  opacity: 0.4;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.is-disabled-interaction {
  cursor: default;
}
.is-disabled-loading {
  cursor: wait;
}
.no-svg .is-hidden--no-svg,
.svg .is-hidden--svg {
  display: none;
}
.svg .is-hidden--no-svg,
.no-svg .is-hidden--svg {
  display: inline;
}
.t-body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 16px;
  padding: 0;
}
.t-body a {
  color: #0084b4;
}
.t-body a:hover {
  color: #00719b;
}
.t-body.-size-xl {
  font-size: 20px;
}
.t-body.-size-l {
  font-size: 18px;
}
.t-body.-size-m {
  font-size: 14px;
}
.t-body.-size-s {
  font-size: 12px;
}
.t-body.-color-dark,
.t-body {
  color: #666666;
}
.t-body.-color-mid {
  color: #999999;
}
.t-body.-color-light {
  color: white;
}
.t-body.-color-inherit {
  color: inherit;
}
.t-body.-color-danger {
  color: #df2c2c;
}
.t-body.-color-success {
  color: #82b541;
}
.t-body.-color-warning {
  color: #efa506;
}
.t-body.-style-italic {
  font-style: italic;
}
.t-body.-weight-bold {
  font-weight: 700;
}
.t-currency {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-weight: inherit;
  line-height: 1;
}
.t-currency::first-letter {
  margin-right: 0.05em;
  font-size: 12px;
  line-height: 1.25em;
  font-weight: normal;
  vertical-align: top;
}
@-moz-document url-prefix() {
  .t-currency::first-letter {
    float: left;
  }
}
.t-heading {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
  padding: 0;
}
.t-heading a {
  color: #0084b4;
}
.t-heading a:hover {
  color: #00719b;
}
.t-heading.-size-xxl {
  font-size: 36px;
}

