.no-svg .is-hidden--no-svg,
.svg .is-hidden--svg {
  display: none;
}
.svg .is-hidden--no-svg,
.no-svg .is-hidden--svg {
  display: inline;
}
.t-body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 16px;
  padding: 0;
}
.t-body a {
  color: #0084b4;
}
.t-body a:hover {
  color: #00719b;
}
.t-body.-size-xl {
  font-size: 20px;
}
.t-body.-size-l {
  font-size: 18px;
}
.t-body.-size-m {
  font-size: 14px;
}
.t-body.-size-s {
  font-size: 12px;
}
.t-body.-color-dark,
.t-body {
  color: #666666;
}
.t-body.-color-mid {
  color: #999999;
}
.t-body.-color-light {
  color: white;
}
.t-body.-color-inherit {
  color: inherit;
}
.t-body.-color-danger {
  color: #df2c2c;
}
.t-body.-color-success {
  color: #82b541;
}
.t-body.-color-warning {
  color: #efa506;
}
.t-body.-style-italic {
  font-style: italic;
}
.t-body.-weight-bold {
  font-weight: 700;
}
.t-currency {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-weight: inherit;
  line-height: 1;
}
.t-currency::first-letter {
  margin-right: 0.05em;
  font-size: 12px;
  line-height: 1.25em;
  font-weight: normal;
  vertical-align: top;
}
@-moz-document url-prefix() {
  .t-currency::first-letter {
    float: left;
  }
}
.t-heading {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
  padding: 0;
}
.t-heading a {
  color: #0084b4;
}
.t-heading a:hover {
  color: #00719b;
}
.t-heading.-size-xxl {
  font-size: 36px;
}

