.t-heading.-size-xl {
  font-size: 32px;
}
.t-heading.-size-l {
  font-size: 28px;
}
.t-heading.-size-m {
  font-size: 24px;
}
.t-heading.-size-s {
  font-size: 20px;
}
.t-heading.-size-xs {
  font-size: 18px;
}
.t-heading.-size-xxs {
  font-size: 14px;
}
.t-heading.-size-inherit {
  font-size: inherit;
}
.t-heading.-color-dark,
.t-heading {
  color: #454545;
}
.t-heading.-color-mid {
  color: #545454;
}
.t-heading.-color-light {
  color: white;
}
.t-heading.-color-inherit {
  color: inherit;
}
.t-heading.-color-highlight {
  color: #82b440;
}
.t-heading.-weight-normal {
  font-weight: 400;
}
.t-heading.-weight-light {
  font-weight: 300;
}
.t-heading.-margin-none {
  margin: 0;
}
.t-icon-list {
  list-style: none;
  margin: 0 0 8px 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.t-icon-list a {
  color: #0084b4;
}
.t-icon-list a:hover {
  color: #00719b;
}
.t-icon-list.-offset-flush {
  margin-left: 8px;
}
.t-icon-list.-font-size-s {
  font-size: 12px;
}
.t-icon-list.-font-size-m,
.t-icon-list {
  font-size: 16px;
}
.t-icon-list.-icon-size-s .t-icon-list__item:before {
  font-size: 12px;
}
.t-icon-list.-icon-size-m .t-icon-list__item:before,
.t-icon-list .t-icon-list__item:before {
  font-size: 14px;
}
.t-icon-list__item {
  position: relative;
  padding-left: 16px;
}
.t-icon-list__item:before {
  font-family: marketplace-glyphs;
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-align: center;
  width: 1em;
  position: relative;
  left: -23px;
  margin-right: -15px;
}
.t-icon-list__item.-icon-ok:before {
  content: '';
}
.t-icon-list__item.-icon-cancel:before {
  content: '';
}
.t-icon-list__item.-icon-caret:before {
  content: '';
}
.t-icon-list__item.-color-mid:before,
.t-icon-list__item:before {
  color: gray;
}
.t-icon-list__item.-color-dark:before {
  color: black;
}
.t-icon-list__item.-color-light:before {
  color: white;
}
.t-icon-list__item.-color-primary:before {
  color: #82b440;
}
.t-link {
  color: #0084b4;
  text-decoration: underline;
}
.t-link:hover {
  color: #00719b;
}
.t-link:hover {
  text-decoration: none;
}
.t-link.-color-dark {
  color: #454545;
}
.t-link.-color-dark:hover {
  color: #787878;
}
.t-link.-color-light {
  color: white;
}
.t-link.-color-light:hover {
  color: whitesmoke;
}
.t-link.-color-default {
  color: #0084b4;
}
.t-link.-color-default:hover {
  color: #00719b;
}
.t-link.-color-inherit {
  color: currentColor;
}
.t-link.-decoration-reversed {
  text-decoration: none;
}
.t-link.-decoration-reversed:hover {
  text-decoration: underline;
}
.t-link.-decoration-none {
  text-decoration: none;
}
.t-link.-decoration-none:hover {
  text-decoration: none;
}
.t-link.-weight-bold {
  font-weight: 700;
}
.t-link.-weight-normal {
  font-weight: 400;
}
.t-link.-weight-light {
  font-weight: 300;
}
.t-list {
  list-style: disc;
  margin-left: 32px;
}
.t-list.-style-none {
  list-style: none;
  margin-left: 0;
}
.t-list.-style-decimal {
  list-style: decimal;
}
.t-list.-style-alpha {
  list-style: lower-alpha;
}
.t-list.-style-lower-roman {
  list-style: lower-roman;
}
.t-preformatted {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.t-preformatted p {
  color: #666666;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 16px;
  padding: 0;
}
.t-preformatted p a {
  color: #0084b4;
}
.t-preformatted p a:hover {
  color: #00719b;
}
.t-preformatted h1 {
  display: none;
}
.t-preformatted h2,
.t-preformatted h3,
.t-preformatted h4,
.t-preformatted h5,
.t-preformatted h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #454545;
  margin-bottom: 8px;
  padding: 0;
}
.t-preformatted h2 a,
.t-preformatted h3 a,
.t-preformatted h4 a,
.t-preformatted h5 a,
.t-preformatted h6 a {
  color: #0084b4;
}
.t-preformatted h2 a:hover,
.t-preformatted h3 a:hover,
.t-preformatted h4 a:hover,
.t-preformatted h5 a:hover,
.t-preformatted h6 a:hover {
  color: #00719b;
}
