@media (min-width: 569px) and (max-width: 1024px) {
  [am-Grid] [am-Grid-Col~='m:1'] {
    width: 9.84848%;
    float: left;
    margin-right: 3.0303%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='m:pre1'] {
    margin-left: 12.87879%;
  }
  [am-Grid] [am-Grid-Col~='m:2'] {
    width: 22.72727%;
    float: left;
    margin-right: 3.0303%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='m:pre2'] {
    margin-left: 25.75758%;
  }
  [am-Grid] [am-Grid-Col~='m:3'] {
    width: 35.60606%;
    float: left;
    margin-right: 3.0303%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='m:pre3'] {
    margin-left: 38.63636%;
  }
  [am-Grid] [am-Grid-Col~='m:4'] {
    width: 48.48485%;
    float: left;
    margin-right: 3.0303%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='m:pre4'] {
    margin-left: 51.51515%;
  }
  [am-Grid] [am-Grid-Col~='m:5'] {
    width: 61.36364%;
    float: left;
    margin-right: 3.0303%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='m:pre5'] {
    margin-left: 64.39394%;
  }
  [am-Grid] [am-Grid-Col~='m:6'] {
    width: 74.24242%;
    float: left;
    margin-right: 3.0303%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='m:pre6'] {
    margin-left: 77.27273%;
  }
  [am-Grid] [am-Grid-Col~='m:7'] {
    width: 87.12121%;
    float: left;
    margin-right: 3.0303%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='m:pre7'] {
    margin-left: 90.15152%;
  }
  [am-Grid] [am-Grid-Col~='m:8'] {
    width: 100%;
    float: left;
    margin-right: 3.0303%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='m:pre8'] {
    margin-left: 103.0303%;
  }
  [am-Grid] [am-Grid-Row~='m:end'] {
    margin-right: 0;
    clear: right;
  }
  [am-Grid] [am-Grid-Row~='m:start'] {
    clear: left;
  }
}
@media (min-width: 1025px) {
  [am-Grid] [am-Grid-Col~='l:1'] {
    width: 6.5%;
    float: left;
    margin-right: 2%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='l:pre1'] {
    margin-left: 8.5%;
  }
  [am-Grid] [am-Grid-Col~='l:2'] {
    width: 15%;
    float: left;
    margin-right: 2%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='l:pre2'] {
    margin-left: 17%;
  }
  [am-Grid] [am-Grid-Col~='l:3'] {
    width: 23.5%;
    float: left;
    margin-right: 2%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='l:pre3'] {
    margin-left: 25.5%;
  }
  [am-Grid] [am-Grid-Col~='l:4'] {
    width: 32%;
    float: left;
    margin-right: 2%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='l:pre4'] {
    margin-left: 34%;
  }
  [am-Grid] [am-Grid-Col~='l:5'] {
    width: 40.5%;
    float: left;
    margin-right: 2%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='l:pre5'] {
    margin-left: 42.5%;
  }
  [am-Grid] [am-Grid-Col~='l:6'] {
    width: 49%;
    float: left;
    margin-right: 2%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='l:pre6'] {
    margin-left: 51%;
  }
  [am-Grid] [am-Grid-Col~='l:7'] {
    width: 57.5%;
    float: left;
    margin-right: 2%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='l:pre7'] {
    margin-left: 59.5%;
  }
  [am-Grid] [am-Grid-Col~='l:8'] {
    width: 66%;
    float: left;
    margin-right: 2%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='l:pre8'] {
    margin-left: 68%;
  }
  [am-Grid] [am-Grid-Col~='l:9'] {
    width: 74.5%;
    float: left;
    margin-right: 2%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='l:pre9'] {
    margin-left: 76.5%;
  }
  [am-Grid] [am-Grid-Col~='l:10'] {
    width: 83%;
    float: left;
    margin-right: 2%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='l:pre10'] {
    margin-left: 85%;
  }
  [am-Grid] [am-Grid-Col~='l:11'] {
    width: 91.5%;
    float: left;
    margin-right: 2%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='l:pre11'] {
    margin-left: 93.5%;
  }
  [am-Grid] [am-Grid-Col~='l:12'] {
    width: 100%;
    float: left;
    margin-right: 2%;
    display: inline;
  }
  [am-Grid] [am-Grid-Col~='l:pre12'] {
    margin-left: 102%;
  }
  [am-Grid] [am-Grid-Row~='l:end'] {
    margin-right: 0;
    clear: right;
  }
  [am-Grid] [am-Grid-Row~='l:start'] {
    clear: left;
  }
}
.h-clearfix {
  *zoom: 1;
}
.h-clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.h-clear {
  clear: both;
}
.h-clickable {
  cursor: pointer;
}
.h-no-bullet {
  list-style: none;
}
.h-hr {
  border: none;
  display: block;
  background-color: #dedede;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.h-pull-right {
  float: right;
}
.h-pull-left {
  float: left;
}
.h-pull-none {
  float: none !important;
}
.h-display-inlineblock {
  display: inline-block !important;
}
.h-display-block {
  display: block !important;
}
.h-position-absolute {
  position: absolute;
}
.h-position-relative {
  position: relative;
}
.h-position-fixed {
  position: fixed;
}
.h-text-align-center {
  text-align: center;
}
.h-text-align-left {
  text-align: left;
}
.h-text-align-right {
  text-align: right;
}
.h-word-wrap {
  word-wrap: break-word;
}
.h-strikethrough {
  text-decoration: line-through;
}
.h-text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.h-full-width {
  width: 100%;
}
.h-flexible {
  max-width: 100%;
}
.h-image-svg {
  line-height: 0;
  display: block;
}
.h-flex-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.2%;
  position: relative;
}
.h-flex-video iframe,
.h-flex-video video {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.h-m0 {
  margin: 0px !important;
}
.h-mt0 {
  margin-top: 0px !important;
}
.h-mr0 {
  margin-right: 0px !important;
}
.h-mb0 {
  margin-bottom: 0px !important;
}
.h-ml0 {
  margin-left: 0px !important;
}
.h-mx0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.h-my0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.h-m1 {
  margin: 8px !important;
}
.h-mt1 {
  margin-top: 8px !important;
}
.h-mr1 {
  margin-right: 8px !important;
}
.h-mb1 {
  margin-bottom: 8px !important;
}
.h-ml1 {
  margin-left: 8px !important;
}
.h-mx1 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.h-my1 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.h-m2 {
  margin: 16px !important;
}
.h-mt2 {
  margin-top: 16px !important;
}
.h-mr2 {
  margin-right: 16px !important;
}
.h-mb2 {
  margin-bottom: 16px !important;
}
.h-ml2 {
  margin-left: 16px !important;
}
.h-mx2 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.h-my2 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.h-m3 {
  margin: 24px !important;
}
.h-mt3 {
  margin-top: 24px !important;
}
.h-mr3 {
  margin-right: 24px !important;
}
.h-mb3 {
  margin-bottom: 24px !important;
}
.h-ml3 {
  margin-left: 24px !important;
}
.h-mx3 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}
.h-my3 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}
.h-m4 {
  margin: 32px !important;
}
.h-mt4 {
  margin-top: 32px !important;
}
.h-mr4 {
  margin-right: 32px !important;
}
.h-mb4 {
  margin-bottom: 32px !important;
}
.h-ml4 {
  margin-left: 32px !important;
}
.h-mx4 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}
.h-my4 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}
.h-mxa {
  margin-left: auto !important;
  margin-right: auto !important;
}
.h-mya {
  margin-bottom: auto !important;
  margin-top: auto !important;
}
.h-p0 {
  padding: 0px !important;
}
.h-pt0 {
  padding-top: 0px !important;
}
.h-pr0 {
  padding-right: 0px !important;
}
.h-pb0 {
  padding-bottom: 0px !important;
}
.h-pl0 {
  padding-left: 0px !important;
}
.h-px0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.h-py0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.h-p1 {
  padding: 8px !important;
}
.h-pt1 {
  padding-top: 8px !important;
}
.h-pr1 {
  padding-right: 8px !important;
}
.h-pb1 {
  padding-bottom: 8px !important;
}
.h-pl1 {
  padding-left: 8px !important;
}
.h-px1 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.h-py1 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.h-p2 {
  padding: 16px !important;
}
.h-pt2 {
  padding-top: 16px !important;
}
.h-pr2 {
  padding-right: 16px !important;
}
.h-pb2 {
  padding-bottom: 16px !important;
}
.h-pl2 {
  padding-left: 16px !important;
}
.h-px2 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.h-py2 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.h-p3 {
  padding: 24px !important;
}
.h-pt3 {
  padding-top: 24px !important;
}
.h-pr3 {
  padding-right: 24px !important;
}
.h-pb3 {
  padding-bottom: 24px !important;
}
.h-pl3 {
  padding-left: 24px !important;
}
.h-px3 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

