<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Fraser Xu" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/prettify.css" type="text/css" media="screen, projection" />
  <script type="text/javascript" src="/js/prettify.js"></script>
  <script type="text/javascript" src="/js/prettify-lua.js"></script>
</head>
<body onload="prettyPrint()">

  <div class="container">

    <div class="header">
      <h1><a href="/">Fraser Xu's</a></h1>
      <h2>Thoughts on life and code</h2>
    </div>

    <div class="nav">
      <a href="/">Cover</a>
      <a href="/archive.html">Archive</a>
      <a href="/about.html">About</a>
      <a href="/atom.xml">Subscribe</a>
    </div>

    {{ content }}
  </div>
</body>
</html>
